.productos__item{
    width: 15rem;
    height: auto;
    box-sizing: border-box;
    margin: 1rem;
    position: relative;
    user-select: none;
}
.productos__item figure{
        margin: 0;
}
.productos__item figure img{
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
    margin: auto;
}
.productos__item figure img:hover{
    transform: scale(1.2,1.2);
    transition: transform 1s;
    transition: all 1s
}
.productos__item figure figcaption{
    text-align:center;
    align-content: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #135D87;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productos__item .item-infoProducto .infoProducto-descripcion{
    margin: 0;
    text-align:center;
    align-content: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}
.productos__item .item-infoProducto .infoProducto-precio{
    margin: 0;
    text-align:center;
    align-content: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    margin-top: .3rem;
    margin-bottom: .3rem;
    color: #135D87;
}
.productos__item .item-infoProducto .infoProducto-id{
    display: none;
}
.productos__item .item-infoProducto .infoProducto-stock{
    margin: 0;
    text-align:center;
    align-content: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}
.productos__item .item-infoProducto button{
    text-align:center;
    align-content: center;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #135D87;
    color: #E6E6E6;
    height: 2.5rem;
    margin: 0;
    border-radius: 0px 5px 0px 5px;
}
.productos__item .sin-stock {
    box-sizing: border-box;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
.productos__item .sin-stock p{
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 15%;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    align-items: center;
    user-select: none;
}